bin/*
gen/*
libs/*
.settings/*
out/*
.idea/*
.gradle/*
target/*
build/*
key/*
local.properties
projectFilesBackup
captures/*

/release
.DS_Store
playstore/

*.iml

build/
.gradle/

app/google-services.json
