bin/*
gen/*
libs/*
.settings/*
out/*
.idea/*
.gradle/*
target/*
build/*
key/*
local.properties
projectFilesBackup
captures/*

/release
.DS_Store
playstore/

*.iml

build/
.gradle/

app/google-services.json

# fastlane specific
**/fastlane/report.xml

# deliver temporary files
**/fastlane/Preview.html

# snapshot generated screenshots
**/fastlane/screenshots

# scan temporary files
**/fastlane/test_output
