<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.m3sv.selectcontentdirectory">

    <application>
        <activity
            android:name=".SelectContentDirectoryActivity"
            android:exported="false" />
        <activity
            android:name=".SelectApplicationModeActivity"
            android:exported="false" />
    </application>
</manifest>
